.left-side {
    width: 50% !important;
    justify-content: flex-end;
}
.right-side {
    width: 50% !important;
    justify-content: space-around;
}
@media (max-width: 576px) {
    .left-side,.right-side{
        width: 100% !important;
        text-align: center;
    }
    .right-side{
        display: none;
    }
}